[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Freesound - pack: under water sounds by klankbeeld
Type=Link
URL=https://freesound.org/people/klankbeeld/packs/14861/
Icon=mate-fs-bookmark
